{% extends 'base.html.twig' %}

{% block title %}Neurolocalizer{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login_style') }}
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}

    <section class="container">
        <section class="container">

        <div class="columns is-multiline is-mobile">
            <div class="column is-10 is-offset-1 is-mobile main">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <article class="message is-{{ label }}">
                            <div class="message-body">
                                {{ message }}
                            </div>
                        </article>
                    {% endfor %}
                {% endfor %}
                <div class="columns">

                    <div class="column left">
                        {% include './include/right_info.html.twig' %}
                    </div>
                    <div class="column right has-text-centered">
                        <h1 class="title is-4">Se connecter</h1>
                        <hr>
                        <form action="{{ path('app_login') }}" method="post">
                            <div class="field">
                                <div class="control">
                                    <input
                                            id="username"
                                            class="input is-medium"
                                            type="text"
                                            name="_username"
                                            placeholder="Username ou email"
                                            value="{{ last_username }}"
                                    >
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input
                                            id="password"
                                            class="input is-medium"
                                            type="password"
                                            name="_password"
                                            placeholder="Mot de passe"
                                    >
                                </div>
                            </div>
                            <button class="button is-block is-primary is-fullwidth is-medium">
                                <span class="icon">
                                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                </span>
                                <span> Se connecter </span>
                            </button>
                            <br>
                            <div class="has-text-centered">
                                <p class="is-size-10">Pas encore inscrit ? <a href="{{ path('app_register') }}">S'inscrire</a></p>
                            </div>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}