<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Neurolocalizater{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/jpg" href="{{ asset('build/images/neuron(1).png') }}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app_style') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app_js') }}

            <script>
                document.addEventListener('DOMContentLoaded', () => {

                    // Get all "navbar-burger" elements
                    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

                    // Add a click event on each of them
                    $navbarBurgers.forEach( el => {
                        el.addEventListener('click', () => {

                            // Get the target from the "data-target" attribute
                            const target = el.dataset.target;
                            const $target = document.getElementById(target);

                            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                            el.classList.toggle('is-active');
                            $target.classList.toggle('is-active');

                        });
                    });

                });
            </script>
        {% endblock %}

    </head>
    <body>
        {% block nav %}
            <nav class="navbar is-white">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item brand-text" href="{{ path('app_home') }}">
                            Neurolocalizer
                        </a>
                        <div class="navbar-burger burger" data-target="navMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="navMenu" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="{{ path('app_home') }}">
                                Consultations
                            </a>
                            <a class="navbar-item" href="{{ path('app_contact_request_index') }}">
                                Contactez nous
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="navbar-item" href="{{ path('admin') }}">
                                    Administration
                                </a>
                            {% endif %}
                            <a class="navbar-item" href="{{ path('app_logout') }}">
                                Déconnexion
                            </a>
                        </div>

                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
